**/__pycache__/
**/.ipynb_checkpoints/
**/datasets/
**/models/
**/lightning_logs/
*.pdf
*.png
*.jpg
*.txt
*.xml
*.gz
*.tar
*.zip
*.pt
*.doc
**/__pycache__/
**/.ipynb_checkpoints/
**/datasets/
**/data/
**/.tmp/
**/models/
**/cifar-10-batches-py/
**/lightning_logs/
**/segmentation_data/
*.pdf
*.gz
*.tar
*.zip
*.pt
*.DS_Store
*.pth
*.h5
